.App {
  min-height: 100vh;
  overflow: hidden;

}
.container{
  background: #fff;
  padding: 1.2rem;
  margin: 3rem auto;
  max-width: 35rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.25rem;
}

.heart{
background-color: #ff1313;
  color: #000;
  transition: all 500ms;
}
.dark{
  background-image: url(../public/rose1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  transition: all 500ms;
}

@media (max-width: 768px){
  .container{
    max-width: 20rem;
  }
  .container h2{
    font-size: 20px;
  }
}